<main>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div *ngFor="let element of elements" class="col-lg-4">
        <div *ngIf="element.images && element.images[0]; else imgDefault">
          <img
        [src]="element.images[0].url"
        class="card-img-top"
        style="max-height: 150px"
        alt="image"/>
        </div>
        
<ng-template #imgDefault>
      <img
        src="{{'assets/img/noimage.png'}}"
        class="card-img-top"
        style="max-height: 150px"
        alt="image"
      />
    </ng-template>
        <h2>{{element.name}}</h2>
        <p>{{element.description}}</p>
        <p><a class="btn btn-secondary" href="#">Detalles</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div *ngFor="let convocatoria of convocatorias" class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{convocatoria.name}}</h2>
        <p class="lead">{{convocatoria.description}}</p>
      </div>
      <div class="col-md-5">
        <img
        [src]="convocatoria.images[0].url"
        class="card-img-top"
        width="100%"
        alt="image"/>
      </div>
    </div>

    <hr class="featurette-divider">

   
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</main>
